@import 'grid.less';
@import 'variables-overrides.less';
@import 'common.less';
@import 'utilities.less';
@import 'margin-padding.less';
@import 'ember-notify.less';
@import 'loaders.less';
@import 'header.less';
@import 'font-awesome.less';

.infinity-loader {
    padding: 10px;
    text-align: center;
}

.logo {
	padding: 40px 0 20px;
    text-align: center;
	text-transform: uppercase;
    color: #1b1c1d;
    font-size: 40px;
    line-height: 46px;
}

.patients-info {
	border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    .patient-info {
    	margin: 40px 0;
	    border-top: 2px dotted black;
	    padding: 30px 0 0;
    }
}