<div class="ui vertical stripe segment">

	<div class="ui middle aligned stackable container">

		<div class="max-width-1170 clearfix section-header-wrap margin-top-0">
		  	<h5 class="uppercase regular pull-left margin-0 custom-header">Edit Test</h5>
		</div>

		<div class="row">
			{{partial "staff/tests/form"}}
		</div>

	</div>

</div>