<div class="ui vertical stripe segment padding-70">

	<div class="ui middle aligned stackable container padding-30">

		<div class="max-width-1170 clearfix section-header-wrap margin-top-0">
		  	<h5 class="uppercase regular pull-left margin-0 custom-header">Add New Booking</h5>
		</div>

		<div class="row">
			{{partial "admin/bookings/form"}}
		</div>

	</div>

</div>