<div class="col col-50">{{slot.start_time}} - {{slot.end_time}} ({{slot.no_of_booking}}) </div>
<div class="col col-50 no-content action_buttons">
	<div class="pull-right">
		{{#link-to "admin.booking-slots.edit" slot.id classNames="edit_button"}}<i class="edit icon"></i> Edit{{/link-to}}
  		<div class="delete_button">
  			<button {{action "inactivate" slot}}><i class="ban icon"></i> Make Inactive</button>
  		</div>
	</div>
</div>